<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
    </head>
    <body style="font-family:sans-serif;"> {% block content %}{% endblock content %}
        </body>
    </html>